* {
    font-size: 24px;
    font-family: 'Roboto', Arial, sans-serif;
}

body {
    margin: 0;
}

.header, .hero {
    background-color: #1f2937;
    color: #f9faf8;
}

.header, .hero, .gallery, .quote, .sign-up, .footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1000px;
    padding: 16px;
    display: flex;
    flex: 1;
}

.header .container {
    height: 72px;
    justify-content: space-between;
}

.links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 36px;
}

.link {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header .logo {
    font-size: 24px;
    font-weight: 900;
}

.hero {
    height: 400px;
}

.hero .container {
    gap: 72px;
}

.left, .right {
    flex: 1;
}

.hero .right {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #6d747d;
    font-size: 18px;
    height: 250px;
}

.hero .title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero .text {
    font-size: 18px;
    color: #e5e7eb;
}

.gallery {
    color: #1f2937;
}

.gallery .container {
    flex-direction: column;
    gap: 48px;
}

.gallery .title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

.gallery .card-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
}

.gallery .card {
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.gallery .frame {
    width: 160px;
    height: 160px;
    border: #3882f6 solid 4px;
    border-radius: 16px;
}

.gallery .card-info {
    width: 164px;
    font-size: 18px;
    text-align: center;
}

.sign-up-button {
    padding: 8px 32px;
    border-radius: 8px;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    border: none;
}

.quote {
    height: 400px;
    background-color: #e5e7eb;
}

.quote .container {
    flex-direction: column;
    width: 800px;
    flex: 0 1 auto;
}

.quote .text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote .author {
    font-size: 24px;
    font-weight: 900;
    text-align: right;
    padding-right: 32px;
}

.sign-up {
    height: 350px;
    color: #f9faf8;
}

.sign-up .box {
    background-color: #3882f6;
    border-radius: 8px;
    padding: 48px 0px;
    align-items: center;
    display: flex;
    flex: 1;
    max-height: 300px;
}

.sign-up .right {
    flex: 0 0 auto;
    padding-right: 120px;
}

.sign-up .left {
    padding-left: 120px;
    padding-right: 40px;
}
.sign-up .text {
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up .sign-up-button {
    border-color:#f9faf8;
    border: solid;
    box-shadow: none;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 16px;
    height: 100px;
}